* { 
    font-family: 'Open Sans', Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#includeHeader {
    flex-shrink: 0;
}

.content {
    flex: 1;
    padding: 2rem;
}

#includeFooter {
    flex-shrink: 0;
}
/* ====================  CONTENT STYLING ================== */

#offline-warning {
    position: relative;
    display: none;
    background-color: #fce8e6;
    color: rgb(165, 14, 14);
    margin: 0 auto;
    padding: 1em;
}

#offline-warning p {
    margin: 0;
    text-align: center;
}

.description {
    display: flex;
    justify-content: space-evenly;
}

/* ====================  CONTENT STYLING ================== */

/* ====================  RESPONSIVE RESIZING  ================== */

@media (max-width: 1150px) {
    .image__about img {
        width: 30rem;
    }
    .description {
        flex-direction: column;
    }
}

@media (min-width: 1150px) {
    .image__about img {
        margin-right: 5%;
        width: 50rem;
    }
    .description__about {
        width: 45%;
    }
}
