/* ====================  MAIN CONTENT DIV STYLING ================== */

.content{
    margin-top: 12rem;
}

/* ====================  MAIN CONTENT DIV STYLING ================== */

/* ====================  OFFLINE WARNING STYLING ================== */

#offline-warning {
    position: relative;
    display: none;
    background-color: #fce8e6;
    color: rgb(165, 14, 14);
    margin: 0 auto;
    padding: 1em;
}

#offline-warning p {
    margin: 0;
    text-align: center;
}

/* ====================  OFFLINE WARNING STYLING ================== */

/* ====================  TABLE STYLING ================== */
#container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3em;
}

#parts-search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    height: 2em;
    border-radius: 5px;
    border: 1px solid;
}

#parts-table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;
}

#parts-table tr {
    height: 2em;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;
}

#parts-table tr th {
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;
}

#parts-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#parts-table tr td, #parts-table tr th {
    border-left: 2px solid lightgray;
    padding-left: .2em;
}

#parts-table tr td:first-child, #parts-table tr th:first-child {
    border-left: 0;
}

/* parts table column widths */
#parts-table tr th { width: 10% }

#parts-table #sortable::after {
    content: '';
    position: relative;
    border: 8px solid transparent;
    top: 1em;
    border-top-color: silver;
}

#parts-table #sortable.headerSortDown::after {
    border-top-color: black;
}

#parts-table #sortable.headerSortUp::after {
    top: initial;
    bottom: 1em;
    border-top-color: transparent;
    border-bottom-color: black;
}

#section_select {
    display: flex;
    align-items: center;
    justify-content: center;
}
#section_select img {
    display: inline-block;
    width: 2rem;
    margin-left: 1rem;
    height: auto;
}
.section1 {
    display: table-cell;
}

.section2 {
    display: table-cell;
}
.section3 {
    display: table-cell;
}

.section1_hide {
    display: none;
}

.section2_hide {
    display: none;
}
.section3_hide {
    display: none;
}
/* ====================  TABLE STYLING ================== */

